	<thead>
		<tr>
			<th><span class="glyphicon glyphicon-time">
			</span></th>
			<th style="text-align:left">Visitor</th>
			<th style="text-align:left">@Home</th>
			<th style="text-align:left">V</th>
			<th style="text-align:left">H</th>
			<th style="text-align:right">
				<span class="glyphicon glyphicon-edit">
			</span></th>
		</tr>
	</thead>
