	<div class="card-header">
		<span>&#9918; MLB // {{schedule.displayDate}}</span>
		<div class="btn-group" role="group">
			<button id="yesterday-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-left"></span> -->
				&#9664;
			</button>
			<button id="today-btn"
				class="btn btn-sm btn-secondary">
				Today
			</button>
			<button id="tomorrow-btn"
				class="btn btn-sm btn-secondary">
				<!--<span class="glyphicon glyphicon-chevron-right"></span> -->
				&#9658;
			</button>
		</div>

		<button id="refresh_scores"
			class="btn btn-sm float-xs-right btn-outline-secondary">
			<!--<span class="glyphicon glyphicon-refresh"></span> -->
			Refresh
		</button>

		<button id="reset_games"
			class="btn btn-sm float-xs-right btn-outline-secondary">
			<!--<span class="glyphicon glyphicon-cloud-download"></span> -->
			Reset
		</button>
	</div>
