<td style="text-align:right">
  <button type="button" id="remove-game-btn"
  class="btn btn-sm float-xs-right btn-outline-secondary">
  <!--<span class="glyphicon glyphicon-trash"></span>-->
  &#9587;
  </button>
</td>
