<div class="btn-group" role="group">
  <button id="yesterday-btn"
    class="btn btn-sm btn-secondary">
    <!--<span class="glyphicon glyphicon-chevron-left"></span> -->
    &#9664;
  </button>
  <button id="today-btn"
    class="btn btn-sm btn-secondary">
    Today
  </button>
  <button id="tomorrow-btn"
    class="btn btn-sm btn-secondary">
    <!--<span class="glyphicon glyphicon-chevron-right"></span> -->
    &#9658;
  </button>
</div>
