<!-- HANDLEBARS TEMPLATE -->

<div class="card">
	<div class="card-header">
		{{!-- name is required --}}
		{{>name}} // {{schedule.displayDate}}

		{{!-- partial with default, does not have to be provided --}}
		{{#> cardHeader }}
			{{> partials/schedule-date-switcher }}
			{{> partials/schedule-refresh-button }}
			{{> partials/schedule-reset-button }}
		{{/cardHeader}}
	</div>

	<div class="card-block">
		hello

		{{#> layouts/schedule-table }}
			{{>games}}
		{{/layouts/schedule-table }}
	</div>
</div>
