<!-- HANDLEBARS TEMPLATE -->

<div class="card">
	<div class="card-header">
		<span>&#9918; MLB // {{schedule.month}}.{{schedule.day}}</span>
		{{> partials/schedule-date-switcher }}
		{{> partials/schedule-refresh-button }}
		{{> partials/schedule-reset-button }}
	</div>

	<div class="card-block">
		hellow
		{{> nav}}
	</div>
</div>
