  .winning {
    font-weight: bold;
  }

  .flair {
    color: #aaaaaa;
  }

  .card-block {
    padding: 0px;
  }

  .table {
    margin-bottom: 0;
  }

  .container-fluid {
    /* push down navbar*/
    padding-top: 20px;
    /* so plus button isn't stuck at bottom */
    padding-bottom: 20px;
  }

  .flash {
    /* used to flash table row on update */
    animation: flash 1s ease-out;
    animation-iteration-count: 1;
  }

  @keyframes flash {
    0% {
      background-color: none;
    }
    50% {
      background-color: #FFFF99;
    }
    100% {
      background-color: none;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards;
  }

  a {
    /* material design copy: links are bright pink */
    color: #ff4081;
  }

  html {
    font-size: 14px;
  }

  html, body {
    height: 100%;
  }

  #backgrounds-attribution {
    color: rgb(211, 207, 207);
    opacity: .2;

    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 0.5em;

    text-align: right;
  }

  #backgrounds-attribution:hover {
    background-color: #000;
    opacity: .8;
    background: rgba(0, 0, 0, 0.8);
  }

  span.wave:hover {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 3;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  /* .website-info:hover {
    transform: scale(1.005);
    transition: all .2s ease-in-out;
    } */

  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }

  @media (min-width: 20em) {
    .card-columns {
      column-count: 1;
    }
  }

  @media (min-width: 40em) {
    .card-columns {
      column-count: 2;
    }
  }

  @media (min-width: 48em) {
    .card-columns {
      column-count: 2;
    }
  }

  @media (min-width: 70em) {
    .card-columns {
      column-count: 3;
    }
  }

  @media (min-width: 95em) {
    .card-columns {
      column-count: 4;
    }
  }
